{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrder": [
    "^react",
    "^gatsby",
    "<THIRD_PARTY_MODULES>",
    "^(.*)layout(.*)$",
    "^.*services/(.*)$",
    "^.*services(.*)$",
    "^.*components/(.*)$",
    "^.*/steps(.*)$",
    ".*/hooks$",
    ".*/use(.*)$",
    "^(.*)context(.*)$",
    ".*/style(.*)$",
    ".*.scss$"
],
"importOrderSeparation": false,
"importOrderSortSpecifiers": true,
"importOrderCaseInsensitive": true
}